.planet-img{
    max-width: 300px;
    max-height: 300px;
    margin: 0px auto;
}

body {
    color: white;
    margin-left: 125px;
    margin-right: 125px;
    background-image: url("assets/sunrise.jpg")
}

.button-color {
    color: crimson;
}
