.planet-img {
    margin-left: 50px;
}

body {
    color: white;
    margin-left: 125px;
    margin-right: 125px;
    background-image: url("assets/supernova-background.jpg")
}

.button-color {
    color: crimson;
}
